@if (http.isLoading | async) {
<div class="loading">
  <mat-spinner color="accent"></mat-spinner>
</div>
}

<div class="content">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> PIT Engenharia de Software - 2024.2</mat-card-title>
      <mat-card-subtitle>API de Consulta CNPJ na Receita Federal</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <form>
          <mat-form-field>
            <mat-label>CNPJ</mat-label>
            <input type="text" mask="00.000.000/0000-00" matInput [formControl]="cnpj" placeholder="Informe um CNPJ">
            @if (cnpj.hasError('required')) {
              <mat-error>Por favor, informe um CNPJ</mat-error>
            }
          </mat-form-field>
          <button type="button" (click)="find()" mat-flat-button color="primary">Consultar</button>
        </form>
      </div>
    </mat-card-content>
    <mat-card-footer>
      ** Caso o CNPJ já tenha sido pesquisado a API retornará os dados salvos da ultima consulta.
    </mat-card-footer>
  </mat-card>
</div>

<div>
  @if (response) {
    <mat-card class="response" appearance="outlined">
      <mat-card-header>
        <mat-card-title> Resultado da consulta</mat-card-title>
        <mat-card-subtitle>Origem: {{ origin }} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <pre>{{ response | json  }} </pre>
      </mat-card-content>
    </mat-card>
  }
</div>
